h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: darkcyan;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: cadetblue;
}

p,li {
    font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 50%;
  border-collapse: collapse;
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
}

a:link {
    color: orangered;
    text-decoration: none;
    padding:5px;
  }
  
  /* visited link */
  a:visited {
    color: tomato;
    text-decoration: none;
    padding:5px;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
    background-color: orangered;
    padding:5px;
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
    padding:5px;
  }
